body {
  background-color: lightgrey;
}
div.main_container {
  position: relative;
  left: 50%;
  margin: 10px;
  padding: 10px;
  border-width: thin;
  border-color: black;
  border-style: solid;
  background-color: white;
  }
h1 {
  color: black;
  text-align: center;
}
.grid line {
  stroke: lightgrey;
  stroke-dasharray: 3;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
text.ticklabels{
  font-size: 15px;
}
text.x.title{
  text-anchor: end;
  font-size: 18px;
}
text.y.title{
  text-anchor: middle;
  font-size: 18px;
}
button.buttons {
  float: left;
  text-align: center;
  font-size: small;
  background-color: lightblue;
  border: 1px solid black;
  padding: 3px;
  margin: 5px;
}
button.buttons:hover {
  background-color: darkgray;
  cursor: pointer;
}
div.button_container {
  margin: auto;
}
text.annotation {
  font-size: 22px;
}
div.explanation {
  margin: auto;
  text-align: justify;
  font-size: 18px;
  height: 90px;
}
.text_divs {
  position: relative;
  left: 50%;
  margin: 10px;
  padding: 10px;
  text-align: justify;
  font-size: 18px;
}
div#introductory_text {
  background-color: white;
  border: 1px solid black;
}
div#source_ref {
  text-align:center;
}
